body.dashboard {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1e90ff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
  
  .dashboard {
    display: flex;
    height: 100vh;
  }
  .inputField {
    color: #000000; 
    border: 1px solid #000000; 
    padding: 5px;
    width: 200px;
    
}

.chart-container {
  max-width: 600px;
  max-height: 400px;
}
.inputFieldNumber {
  color: #000000; 
  border: 1px solid #000000; 
  padding: 5px;
  width: 30px;
  text-align: center;
  margin-left: 10px;
}
.labelWithCheckbox {
  display: flex;
  align-items: center; /* This will vertically center the elements */
}
.labelWithCheckbox input {
  margin-left: 0; /* This removes any space to the left of the checkbox */
}
.inputFieldWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inputFieldWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inputFieldWrapper label {
  flex-basis: 200px; /* Adjust the value as needed for desired label width */
  flex-shrink: 0;
  margin-right: 10px;
}


.longLabel {
  white-space: nowrap;
}

.checkboxSize {
  transform: scale(0.5);
}

.dropdownMenu {
  width: 300px; 
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #999;
  border-radius: 5px;
/* This is to remove the default dropdown arrow of the select box in other browsers */ /* Replace "path_to_your_custom_dropdown_arrow_image" with the path to your custom dropdown arrow image */
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.dropdownMenu:focus {
  outline: none;
  border-color: #1e90ff;  /* Change this to your preferred focus border color */
}


  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
  }
  
  .header {
    padding: 20px;
    box-sizing: border-box;
    background-color: #3487C7;
    color: white;
    position: relative;
    border-bottom: none;
    margin-bottom: 20px; /* Add this line */
  }
  
  .page-title {
    font-size: 20px;
    margin-bottom: 0;
  }
  
  .header::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: transparent;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    
  }

  .sidebarRight{
    margin-left: 20px;
  }
  
  .dashboard-content {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;  /* Change space-between to flex-start */
    align-items: start; 
    gap: 10px;  /* Adjust this value as needed */
    margin-top: 50px;
  }
  
  .big-square-wrapper {
    /* You can adjust this width as needed */
    flex: 1; /* Add this line to make this element take up remaining space */
  }
  
  .big-square-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 20px;
    position: relative;
    width: 500px;
  }
  
  .participant-table-container {
    width: 400px; /* Adjust this as needed */
  }
  
  .big-square {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
  }
  
  .big-square .corner-letter {
    position: absolute;
    font-size: 1.2em;
  }
  
  .big-square-1 .corner-letter { top: -20px; left: -20px; }
  .big-square-2 .corner-letter { top: -20px; right: -20px; }
  .big-square-3 .corner-letter { bottom: -20px; left: -20px; }
  .big-square-4 .corner-letter { bottom: -20px; right: -20px; }
  
  .small-squares {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns of equal width */
    grid-gap: 10px; /* gap between the small squares */
  }
  
  .small-square {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 200px; /* reset min-width */
  }
  .box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  
  .description-name,
  .score-name {
    margin: 5px;
  }
  

  .box-and-table-container {
    position: relative; /* Add this */
    /* Rest of your CSS */
  }

  .indirect-label {
    position: absolute;
    bottom: -40px;
    left: -30px;
  }

  .taak-label {
    position: absolute;
    bottom: 90%;
    left: -27px;
  }

  .mens-label {
    position: absolute;
    bottom: -20px;
    right: -27px;
  }
  
  .direct-label{
    position: absolute;
    bottom: 90%;
    right: -27px;
  }
  
  /* Different tints for small squares */
  .small-square-1 { background-color: #1e90ff; }
  .small-square-2 { background-color: #6ca9ff; }
  .small-square-3 { background-color: #9fd1ff; }
  .small-square-4 { background-color: #c1e0ff; }
  
  .small-square-9 { background-color: #a3f1a3; }
  .small-square-10 { background-color: #71e671; }
  .small-square-11 { background-color: #35cc35; }
  .small-square-12 { background-color: #c4f9c4; }
  
  .small-square-5 { background-color: #ff8080; }
  .small-square-6 { background-color: #ff4c4c; }
  .small-square-7 { background-color: #ffb3b3; }
  .small-square-8 { background-color: #ffd5d5; }
  
  .small-square-13 { background-color: #fff7d5; }
  .small-square-14 { background-color: #ffe680; }
  .small-square-15 { background-color: #fff1b3; }
  .small-square-16 { background-color: #ffd700; }
  
  /* Table styles */
  .participant-table-container {
    margin-left: 20px;
    width: 400px; /* Adjust this as needed */
  }
  
  .participant-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .participant-table th,
  .participant-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .participant-table th {
    background-color: #4caf50;
    color: white;
  }
  

  .company-selection-container {
    margin-top: 20px;
  }
  