.sidebar {
    width: 250px;
    background-color: #fdfdfd;
    padding: 20px;
    box-sizing: border-box;
    position: flex; /* updated from sticky to fixed */
    top: 0;
    left: 0;
    overflow-y: auto;
    height: 100%; /* updated from 100% to 100vh */
}
  
  /* Rest of the CSS */
  
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .navigation {
    margin-top: 20px;
  }
  
  .nav-button {
    display: block;
    margin-top: 10px;
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    color: black; /* color of the text */
    text-decoration: none; /* removes the underline */
  }
  
  .nav-button:hover {
    background-color: #e0e0e0;
  }
  
  .nav-button.active {
    background-color: #d0d0d0;
  }
  
  .nav-button > button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  