.header {
    padding: 20px;
    box-sizing: border-box;
    background-color: #68bd18;
    color: white;
    position: relative;
    border-bottom: none;
  }
  
  .page-title {
    font-size: 20px;
    margin-bottom: 0;
  }
  
  .header::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: transparent;
  }
  